.chatCon{
    width: 100%;
    display: flex;
    flex: 14;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    .chat{
        height: 80%;
        overflow-y: scroll;
        width: 50%;
        display: flex;
        flex-direction: column; 
        position : relative;
        
        .chatbox{
            flex:  1;
            overflow-y: scroll;
            display: flex;
            flex-direction: column;
            gap: 20px;
            color: #ffff;
            .messageBox{
                h1{
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    color: #ffff;
                }
                p{
                    color: #ffff;
                    font-weight: 200;
                    font-size: medium;
                }
            }

            &.center{
                align-items: center;
                justify-content: center;
                h1{
                    font-family: "Poppins", sans-serif;
                    font-weight: 500;
                    font-size: 40px;
                    text-align: center;
                    @media (max-width: 720px) {
                        font-size: 30px;
                    }
                }
            }
        }
    
        .inputCon{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 0 10px 10px 10px;
            
            .inputbox{
                border-radius: 30px;
                border: 1px solid #ffffff75;
                width: 100%;
                padding: 10px 18px;
                display: flex;
                .input{
                    color: #ffff;
                    background: transparent;
                    outline: none;
                    width: 100%;
                }
                
                .voice{
                    color: #ffffff52;
                    :hover{
                        color: #ffff;
                    }
                }
                .send{
                    color: #ffffff52;
                    &.active{
                        color: #ffff;
                    }
                    
                    
                }
            }

            p{
                font-size: 13px;
                font-weight: 200;
                text-align: center;
                color: #ffffffb2;
            }
        }

        @media (max-width: 720px) {
            width: 100%;
            .chatbox{
                padding: 10px 15px;
            }
        }
    }

    
        
}